body {
	margin: 0 auto;
    padding: 0;
	font-family: open-sans;
	background-color: #F5F5F5;
}

header {
	border-top: 3px solid #C7FFCB;
	background-color: #F5F5F5;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 10;
	padding-top: 1px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}

h1 {
	letter-spacing: 2px;
	font-weight: thin;
	font-size: 12px;
	font-family: Times New Roman, Times, monospace; 
	margin-bottom: 5px;
	margin-top: 5px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 17px;
}

h2 {
	margin-left: 200px; 
	font-family: sans-serif;
	letter-spacing: 1px;
}

h3 {
	border: 1px solid gray;
	background-color: #C7FFCB;
	font-size: 30px;
	text-align: center;
}

h4 {  
	font-size: 25px;
	text-align: center;
	font-family: Brush Script MT, Brush Script Std, cursive;
}

.center {
  display: block;
  margin-left: 225px;
  margin-right: auto;
}

.about {
	border: dotted 2px black;
	border-radius: 15px
}

article {
	line-height: 30px;
	letter-spacing: 1px;
	margin: 25px 225px;
	font-family: sans-serif;
}

#title {  
    margin-top: -10px;
    margin-left: 50px;
    float: left;
	font-size: 25px;
	text-align: left;
	font-family: Brush Script MT, Brush Script Std, cursive;
}

a:link {
	padding: 7px 15px;
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	color: black;
	text-decoration: none;
}

a:active {
	color: darkgray;
	text-decoration: none;
}

.column {
    float: left;
    width: 24%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

footer {
	background-color: #F0F0F0;
	border: 1px solid gray;
	margin: 1px 0;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}