body {
	margin: 0;
	font-family: open-sans;
	background-color: black;
}

.logo {
    display: inline-block;
    width: 100px;
    height: 100px;
	float: left;
	padding-left: 100px;
}

h1 {
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
}


h2 {
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: 500;
	text-align: left;
	text-transform: uppercase;
	padding-left: 100px;
}

.center {
  display: block;
  padding-top: 35px;
  margin-left: 610px;
  margin-right: auto;
}

article {
    width: auto;
    min-width: min-content;
	margin: 0px 175px 0px 175px;
    padding: 25px;
	line-height: 30px;
	letter-spacing: 1px;
	font-family: sans-serif;
	color: white;
}

.navigation-bar {
	text-align: right;
	padding-top: 50px;
	padding-right: 100px
}

a.navlink:link {
	padding: 7px 15px;
	color: white;
	text-decoration: none;
}

a.navlink:visited {
	color: white;
	text-decoration: none;
}

a.navlink:hover {
	color: white;
	text-decoration: none;
}

a.navlink:active {
	color: white;
	text-decoration: none;
}

.column {
    float: left;
    width: 24%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: grid;
}

footer {
	background-color: darkgray;
	margin: 0px 0px 0px 0px;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
}